{{ define "Journal" }}
<article id="journal" class="border-l ml-2 pl-4">
  <header>
    <div class="flex items-center group">
      <h2>Journal</h2>
      <a href="#journal" class="px-2 md:opacity-0 md:group-hover:opacity-100 md:focus:opacity-100 font-bold text-violet-300">#</a>
    </div>
    <p class="text-sm text-neutral-300">The scholarly content on my radar</p>
  </header>

  <div class="h-4"></div>

  <div class="flex flex-col gap-16">
    {{ range . }}
      {{ template "JournalSection" . }}
    {{ end }}
  </div>
</article>
{{ end }}

{{ define "JournalSection" }}
<section id="journal-{{ with .Year }}{{ . }}{{ else }}undated{{ end }}">
  <div class="flex items-center group">
    <h3 class="text-xl font-bold">
      {{ with .Year }}<time datetime="{{ . }}">{{ . }}</time>{{ else }}n.d.{{ end }}
    </h3>

    <a
      href="#journal-{{ with .Year }}{{ . }}{{ else }}undated{{ end }}"
      class="px-2 md:opacity-0 md:group-hover:opacity-100 md:focus:opacity-100 text-xl font-bold text-violet-300"
    >#</a>
  </div>

  <div class="flex flex-col gap-4">
    {{ range .Logs }}
      {{ template "JournalLog" . }}
    {{ end }}
  </div>
</section>
{{ end }}

{{ define "JournalLog" }}
<article>
  <h4>{{ .Title }}</h4>

  <ul class="flex flex-wrap gap-x-1.5">
    {{ range .Authors }}
      <li
        class="after:content-[','] last:after:content-none text-sm text-neutral-300"
      >
        {{ . }}
      </li>
    {{ end }}
  </ul>

  <ul class="flex flex-wrap gap-2 pt-1">
    {{ range .Links }}
      <li>
        <a
          href="{{ .URL }}"
          class="bg-violet-800 text-violet-100 p-1 text-xs font-bold uppercase"
        >{{ .Label }}</a>
      </li>
    {{ end }}
  </ul>
</article>
{{ end }}
