<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <!-- <link rel="stylesheet" href="/index.css" /> -->

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      html {
        color-scheme: dark;
      }
    </style>

    <title>Webpage | Amirabbas Fazelinia</title>
  </head>

  <body class="space-y-8">
    <img src="/bismilah.svg" alt="In the name of God" class="invert p-4">

    <header class="px-8">
      <h1 class="text-center font-bold text-lg">Amirabbas Fazelinia</h1>
      <p class="italic text-center text-neutral-300">I edit plain text and move bits around for a living.</p>
    </header>

    <nav class="flex flex-col items-center">
      <ul
        class="w-fit bg-neutral-800 p-4"
      >
        <li>
          <a
            href="mailto:utilyre@gmail.com"
            target="_blank"
            class="font-mono text-sm text-violet-300 hover:underline underline-offset-2"
          >
            utilyre@gmail.com
          </a>
        </li>
        <li>
          <a
            href="https://linkedin.com/in/amirabbas-fazelinia"
            target="_blank"
            class="font-mono text-sm text-violet-300 hover:underline underline-offset-2"
          >
            in/amirabbas-fazelinia
          </a>
        </li>
        <li>
          <a
            href="https://bsky.app/profile/utilyre.github.io"
            target="_blank"
            class="font-mono text-sm text-violet-300 hover:underline underline-offset-2"
          >
            @utilyre.github.io
          </a>
        </li>
        <li>
          <a
            href="https://github.com/utilyre"
            target="_blank"
            class="font-mono text-sm text-violet-300 hover:underline underline-offset-2"
          >
            @utilyre
          </a>
        </li>
      </ul>
    </nav>

    <main class="md:w-2/3 mx-auto">
      {{ . }}
    </main>

    <footer class="bg-neutral-800">
      <p class="p-4 text-sm">Copyright &copy; 2026 Amirabbas Fazelinia</p>
    </footer>
  </body>
</html>
