{{ define "Skeleton" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ with .Style }}
      <style>
        {{ . }}
      </style>
    {{ end }}
    <style>
      html {
        color-scheme: dark;
      }
    </style>

    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <title>Home | Amirabbas Fazelinia</title>
  </head>

  <body class="bg-neutral-900">
    <!-- try to start the actual content, which is after contact info, from the
    lower 20% of screen -->
    <header class="min-h-[80vh] flex flex-col">
      <img
        src="/bismilah.svg"
        alt="In the name of God"
        class="invert p-4 bg-linear-to-b from-neutral-300 to-transparent select-none"
      >

      <div class="flex-1 min-h-4"></div>

      <h1 class="text-center font-bold text-lg">Amirabbas Fazelinia</h1>
      <p class="italic text-center text-neutral-300">
        I edit plain text and move bits around for a living.
      </p>

      <div class="h-4"></div>

      <nav class="flex flex-col items-center">
        <ul>
          <li class="font-mono text-sm">
            utilyre
            <span class="text-neutral-300">at</span>
            gmail
            <span class="text-neutral-300">dot</span>
            com
          </li>
          <li class="text-sm">
            <a
              href="https://linkedin.com/in/amirabbas-fazelinia"
              target="_blank"
              class="font-mono text-violet-300 underline md:no-underline md:hover:underline underline-offset-2"
            >in/amirabbas-fazelinia</a>
            &mdash; LinkedIn
          </li>
          <li class="text-sm">
            <a
              href="https://bsky.app/profile/utilyre.github.io"
              target="_blank"
              class="font-mono text-violet-300 underline md:no-underline md:hover:underline underline-offset-2"
            >@utilyre.github.io</a>
            &mdash; Bluesky
          </li>
          <li class="text-sm">
            <a
              href="https://github.com/utilyre"
              target="_blank"
              class="font-mono text-violet-300 underline md:no-underline md:hover:underline underline-offset-2"
            >@utilyre</a>
            &mdash; GitHub
          </li>
        </ul>
      </nav>

      <div class="flex-2 min-h-8"></div>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-4 p-4">
      <main class="md:col-span-2">
        <div class="h-96 border-4 border-dotted border-neutral-400 rounded-2xl p-8">
        TBD
        </div>
      </main>

      <aside>
        {{ template "Journal" .Journal }}
      </aside>
    </div>

    <div class="h-16"></div>

    <footer class="bg-neutral-800">
      <p class="p-4 text-sm">Copyright &copy; {{ .CopyYear }} Amirabbas Fazelinia</p>
    </footer>

    <img
      src="https://counter11.optistats.ovh/private/freecounterstat.php?c=g6ucc7ssyztpt918dq7yafj4982mc4w2"
      class="hidden"
    />
  </body>
</html>
{{ end }}
